<!--
  ~ Copyright 2012-2014 One Platform Foundation
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    package="org.onepf.opfpush.adm">

    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--<uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE"/>-->
    <!--<permission-->
    <!--android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE"-->
    <!--android:protectionLevel="signature"/>-->

    <application>

        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false" />

        <service
            android:name=".ADMService"
            android:exported="false" />

        <!--<receiver-->
        <!--android:name="org.onepf.opfpush.adm.ADMReceiver"-->
        <!--android:permission="com.amazon.device.messaging.permission.SEND">-->

        <!--<intent-filter>-->
        <!--<action android:name="com.amazon.device.messaging.intent.REGISTRATION"/>-->
        <!--<action android:name="com.amazon.device.messaging.intent.RECEIVE"/>-->

        <!--<category android:name="${applicationId}"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".LoginAccountsChangedReceiver">

            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>

        </receiver>

    </application>
</manifest>