<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  - Copyright 2012 Google Inc.
  -
  - Licensed under the Apache License, Version 2.0 (the "License"); you may not
  - use this file except in compliance with the License. You may obtain a copy
  - of the License at
  -
  - http://www.apache.org/licenses/LICENSE-2.0
  -
  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  - License for the specific language governing permissions and limitations
  - under the License.
--><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>MainActivityServlet</servlet-name>
    <servlet-class>
      org.onepf.opfpush.MainActivityServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>StoreIdServlet</servlet-name>
    <servlet-class>
      org.onepf.opfpush.StoreIdServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainActivityServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StoreIdServlet</servlet-name>
    <url-pattern>/storeid</url-pattern>
  </servlet-mapping>

</web-app>