<manifest
    package="org.onepf.openpush.gcm"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="15"/>

    <application>
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.onepf.openpush.gcm.registration"/>
                <action android:name="org.onepf.openpush.gcm.unregistration"/>
                <action android:name="org.onepf.openpush.gcm.error"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
